@charset "UTF-8";

*,*::before,*::after{
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

/*header*/

.border{
    border-bottom: 3px solid;
    border-bottom-color: #D36985;
}

.header-wrapper{
    width: 960px;
    margin: 0px auto;
    padding: 15px 0 18px;
    display: flex;
}

header aside{
    font-size: 11px;
    margin-left: 15px;
    color: #929292;
}

.breadcrumbs{
    width: 960px;
    margin: 0 auto;
}

.breadcrumbs li {
    margin:  12px 0px;
    display: inline-block;
    font-size: 12px;
}


.breadcrumbs li::after{
    content: '>';
    margin-left: 10px;
}

.breadcrumbs li:last-child::after{
    display: none;
    margin-left: 10px;
}

/*topImg*/

.top-background{
    background-image: url(images/top/mainimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;
    position: relative;
    border-bottom: 2px solid;
    border-bottom-color: #FF7373;
}

.top-background::before{
    content: "";
    display: block;
    background-image: url(images/top/lace1.svg);
    background-repeat: repeat-x;
    width: 100%;
    height: 15px;
    padding-bottom: 10px;
}

.top-background::after{
    content: "";
    display: block;
    background-image: url(images/top/lace2.svg);
    background-repeat: repeat-x;
    width: 100%;
    height: 15px;
}


.party-dress{
    width: 470px;
    height: 143px;
    margin-bottom: 5px;
}

.subtitle{
    font-size: 15px;
    color: #828282;
    margin-bottom: 60px;
}

.rental-btn{
    margin-bottom: 35px;
}

.top-btn{
    width: 130px;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 8px 0px;
    color: #FF8D8D;
    border: 1px solid #FF8D8D;
    border-radius: 7px;
    letter-spacing: -0.5px;
}

.top-btn:hover{
    color: #FFF3F3;
    border-color: #FFF3F3;
}

.top-wrapper .rental-btn {
    display: flex;   
}

.rental-btn li+li{
    margin-left: 10px;
} 

.top-wrapper{
    width: 960px;
    margin: 0px auto;
    margin-top: 30px;
    padding-left: 110px;
}

/*special*/

.special-wrapper{
    width: 960px;
    margin: 0px auto;
    margin-bottom: 30px;
}

h2{
    display: block;
    margin: 0 auto;
    width: 150px;
}

.outer-wrapper{
    padding: 0;
    width: 960px;
    overflow: hidden;
}

.carousel-wrapper{
    position: relative;
    width: 900px;
    height: 105px;
    overflow: hidden;
    margin: 0 auto;
}

.container{
    position: absolute;
    width: 2109px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.container img:hover{
    opacity: 0.8;
}

.container li+li{
    margin-left: 10px;
}

.special-logo{
    padding-top: 27px;
}

.outer-wrapper{
    margin-top: 20px;
    position: relative;
    align-items: center;
}

.trigger-right{
    border-bottom: 1px solid #808080;
    border-right: 1px solid #808080;
    right: 5px;
}

.trigger-left{
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    left: 11px;   
}


.trigger-right,
.trigger-left{
    position: absolute;
    width: 22px;
    height: 22px;
    transform: rotate(-45deg);
    top: 40px;
}

.trigger.disabled{
    color: #FF8D8D;
}

.indicator-wrapper{
    text-align: center;
    margin-top: 5px;
}

.indicator-wrapper > li{
    display: inline-block;
    margin: 5px;
    width: 9px;
    height: 9px;
}
.indicator-wrapper > li > a{
    display: inline-block;
    width: 9px;
    height: 9px;
    border: solid 1px rgb(200, 200, 200);
    background-color: #C8C8C8;
    border-radius: 8px;
}

.indicator-wrapper > li > a:hover{
    border: solid 1px rgb(220, 220, 220);
    background-color: #DCDCDC;
}

.indicator-wrapper > li > a.current{
    background-color: rgb(255, 141, 141);
    border-color: #FF8D8D;
}

/*dress*/

.dress{
    background-image: url(images/top/background.png);
    background-repeat: repeat-y;
    background-position: center;
}

.dress::before{
    content: "";
    display: block;
    background-image: url(images/top/lace1.svg);
    background-repeat: repeat-x;
    width: 100%;
    height: 13px;
    padding-bottom: 10px;
}

.dress-wrapper{
    width: 960px;
    margin: 0 auto;   
}

.dress-miniwrapper{
    width: 900px;
    margin: 0 auto;
}

/*タブ*/
/*selected*/

.tab-selector{
    display: flex;
    padding: 0px;
    list-style: none;
    z-index: 1;
    position:relative;
}
.tab-selector li{
    margin: 0px 5px 0px 0px;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    width: 145px;
    height: 50px;
    cursor: pointer;
}

.tab-container{
    padding: 0px;
    list-style: none;
    margin-top:-1px;
    position:relative;
    box-shadow: 2px 2px 1px rgb(170,170,170,0.5);
    background-color: #FFFFFF;
}
.tab-container li{
    padding: 10px;
    text-align: left;
    width: 900px;
    height: 75px;
    display: inline-block;
    display: none;
}

.tab-container li p{
     display: inline-block;
}

.tub-check{
    color: #808080;
    font-size: 18px;
    padding: 20px 5px 20px 40px;
}

.tab-container label{
    color: #4D4D4D;
    font-size: 12px;
}

.tab-selector li{
    background-color: #FFBBBB;
}

.tab-selector li.selected{
    background-color: #FFFFFF;
    display: block;
}

.tab-selector li p{
    color: #FFFFFF;
}


.tab-selector li.selected p{
    color: #FF7373;
}

.tab-container li.selected{
    display: block;
}



.selector1 p,
.selector2 p{
    font-size: 17px;
    font-weight: 900;
}

.selector1 p+p,
.selector2 p+p{
    font-size: 13px;
    font-weight: 200;
}



.selector1,.selector2{
    box-shadow: 2px 0px 0px rgb(170,170,170,0.5);
}

.selector2 a,.selector1 a {
    text-decoration: none;
}

.selector2{
    margin-left: 30px;
}

.search{
    padding: 5px 47px;
    background-color: #FF8D8D;
    color: #FFFFFF;
    border-style: none;
    border-radius: 4px;
    margin-left: 60px;  
}

.search:hover{
    background-color: #FFB3B3;
}

/*チェックボックス*/

.checkbox01{
	display: none;
}

.checkbox01-check{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}

.checkbox01-check::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 3px solid #D8A3A3;
}

.checkbox01-check:hover::before{
    border-color: #D6C1C1;
}

.checkbox01:checked + .checkbox01-check::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #FF7373;
  border-right: 3px solid #FF7373;
}

/*ラジオ*/

.radio-01{
  display: none;
}

.radio-01 + label{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}

.radio-01 + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border: 2px solid #D8A3A3;
  border-radius: 50%;
}

.radio-01 + label:hover::before{
    border-color: #D6C1C1;
}

.radio-01:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  background: #B28484;
  border-radius: 50%;
}




/*border*/

.dress-container{
    border-bottom: 8px solid;
    color: #E5C0BA;
    margin-bottom: 20px;
}

.tab-container{
    margin-bottom: 30px;
}

/*search_information*/

.search_information{
    display: flex;
    margin-bottom: 30px;
}

.search-color-size{
    font-size: 11px;
    color: #4D4D4D;
    
}

.search-clothes{
    font-size: 12px;
    padding-left: 630px;
}

.size-selection{
    padding-left: 20px;
}

.dress-count{
    font-size: 18px;
    color: #FF7373;
    font-weight: 600;
}

/*dress-figure*/

.dress-figure{
    display: grid;
    grid-template-columns
    :  217.5px 217.5px 217.5px 217.5px;
    grid-gap: 10px;
    margin-bottom: 40px;
}

.dress-figure dl{
    border: 1px solid #DCDCDC;
    background-color:#FFFFFF;
    font-family: 'Meiryo';
    font-size: 11px;
    color: #666666;
}

.dress-figure dt{
    text-align: center;
    margin-bottom: 12px;
}

.dress-figure dt img:hover{
    opacity: 0.7;
}

.dress-figure dd+dd{
    margin: 4px 0px 12px 10px;   
}

.dress-figure dd{
    margin-left: 10px;
}

.dress-figure dd span{
 font-size: 12px;    
}

/*pagination*/

.pagination-container{
    padding-bottom: 68px;
    text-align: right;
    font-size: 12px;
}

.pagination{
    display: inline-block;
    list-style: none;
    margin: 0 25px;
}

.pagination li{
    display: inline-block;
}
.pagination > li + li{
    margin-left: 7px;
}
.pagination-container a{
    display: inline-block;
    text-decoration: none;
    padding: 7px;
    border: solid 1.5px;
    background-color: #FFFFFF;
    color: #5F5050;
    border-color: #EAD3D3;
}

.pagination > li.active > a{
    background-color: #E5C0BA;
}

.pagination-container > a{
    background-color: #FFFFFF;
    cursor: default;
}

.dress::after{
    content: "";
    display: block;
    border-bottom: 1px solid;
    border-color: #DCDCDC;
}

/*footer*/

footer{
    height: 90px;
}

.footer-wrapper{
    width: 900px;
    margin: 0 auto;
    display: flex;
    padding: 10px 0px 30px 0px;
    
}

.footer-list{
    width: 600px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.footer-list li{
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
}

.footer-list > li+li{
    border-left: 1px solid;
    border-color: #DCDCDC;
}

footer::after{
    content: "";
    display: block;
    border-bottom: 1px solid;
    border-color: #000000;
}












